[flake8]
max-line-length = 127
extend-ignore = 
    E402,  # module level import not at top of file
    C901,  # too complex
    F841,  # unused variable
    F811,  # redefined unused import
    W293,  # blank line contains whitespace
    W291,  # trailing whitespace
    W292,  # no newline at end of file
    E122,  # continuation line missing indentation
    E128,  # continuation line under-indented
    E302,  # expected 2 blank lines
    F401,  # unused imports
    F541,  # f-string missing placeholders
exclude = 
    migrations/,
    venv/,
    env/,
    .venv/,
    __pycache__/,
    .git/