services:
  - type: web
    name: mechanics-shop-api
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: cd /opt/render/project/src && gunicorn flask_app:app
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mechanic_shop_db_bhhl
          property: connectionString
      - key: SECRET_KEY
        generateValue: true